body {
  background-color: #E8F9FD;
  max-width: 85%;
  margin: auto;
}

h1 {
  color: #112B3C;
}

h3 {
  color: #F66B0E;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

img {
  height: 200px;
}
